[project]
	description = sunshine
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sudhanshusahoo
[access "refs/for/refs/*"]
	read = group user/sudhanshusahoo
	push = group user/sudhanshusahoo
	label-Code-Review = -2..+2 group user/sudhanshusahoo
	label-Verified = -1..+1 group user/sudhanshusahoo
	rebase = group user/sudhanshusahoo
	removeReviewer = group user/sudhanshusahoo
	submit = group user/sudhanshusahoo
[access "refs/heads/*"]
	read = group user/sudhanshusahoo
	create = group user/sudhanshusahoo
	push = +force group user/sudhanshusahoo
	pushMerge = group user/sudhanshusahoo
[access "refs/tags/*"]
	push = +force group user/sudhanshusahoo
	pushTag = group user/sudhanshusahoo
	pushSignedTag = group user/sudhanshusahoo
